.heading-1 {
  color: $clr-grey-dark;
  font-size: $fs-heading-lg;
  line-height: 1.25;
  font-weight: $fw-bold;

  @media (min-width: $bp-tablet) {
    font-size: 4.4rem;
  }

  @media (min-width: $bp-desktop) {
    font-size: 5.6rem;
  }
}

.heading-2 {
  color: $clr-grey-dark;
  line-height: 1.25;
  font-weight: $fw-bold;

  &--md {
    font-size: $fs-heading-md;

    @media (min-width: $bp-tablet) {
      font-size: 3.2rem;
    }

    @media (min-width: $bp-desktop) {
      font-size: 4rem;
    }
  }

  &--sm {
    font-size: $fs-heading-sm;

    @media (min-width: $bp-tablet) {
      font-size: 3.2rem;
    }

    @media (min-width: $bp-desktop) {
      font-size: 3.2rem;
    }
  }

  &--light {
    color: $clr-grey-light-2;
  }
}

.heading-3 {
  color: $clr-grey-dark;
  font-size: $fs-heading-sm;
  line-height: 1.25;
  font-weight: $fw-bold;

  @media (min-width: $bp-tablet) {
    font-size: 3.2rem;
  }
}

.text-btn {
  color: $clr-grey-light-2;
  font-size: $fs-btn;
  line-height: 2;
  font-weight: $fw-bold;

  @media (min-width: $bp-tablet) {
    font-size: 1.6rem;
    line-height: 1.75;
  }
}

.text-card {
  color: $clr-white;
  font-size: $fs-card;
  line-height: 1.25;
  font-weight: $fw-bold;
}
