.section-work {
  padding-bottom: 10rem;
}

.work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3.2rem;
  column-gap: 1.6rem;

  h2 {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .slider {
    grid-column: 1 / -1;
  }

  .btn-slide {
    border-radius: 50%;
    height: 6.4rem;
    width: 6.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s all;

    &--left {
      grid-column: 1;
      justify-self: end;
    }

    &--right {
      grid-column: 2;
      justify-self: start;
    }

    &:hover {
      background-color: $clr-purple;
    }
  }
}
